<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgLEeGAhL9FOGIIso5G1qTmgQ6gC_781U</string>
	<key>GCM_SENDER_ID</key>
	<string>1066311481389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cipherschoolsFlutterAssignment.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cipherschools-assignment-007</string>
	<key>STORAGE_BUCKET</key>
	<string>cipherschools-assignment-007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066311481389:ios:d7effebe0e3b126edde0a4</string>
</dict>
</plist>